/*
< 설명서 >

[색상]
- 흰색은 설정 안 함
- 단일 색상은 bg-my-blue라는 식으로 my를 붙일 것
- 회색은 text-gray-100 같은 식으로 사용
- main 색상은 그냥 text-main

[글씨]
- 베스킨라빈스체: title, 노토: text
- 굵기: 700, 400, 300
- 크기: px 빼고 숫자만 써서 표현
- 예시: title-48, text-700-40, text-400-20
*/

@import "tailwindcss";

@font-face {
  font-family: "Baskin";
  src: url("/fonts/baskin/BRB.woff2") format("woff2"),
    url("/fonts/baskin/BRB.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "noto";
  src: url("/fonts/noto/NotoSansKR-Bold.woff2") format("woff2"),
    url("/fonts/noto/NotoSansKR-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "noto";
  src: url("/fonts/noto/NotoSansKR-Regular.woff2") format("woff2"),
    url("/fonts/noto/NotoSansKR-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "noto";
  src: url("/fonts/noto/NotoSansKR-Light.woff2") format("woff2"),
    url("/fonts/noto/NotoSansKR-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --breakpoint-sm: 375px;
  --breakpoint-md: 744px;
  --breakpoint-lg: 1480px;

  --color-my-black: #0f0f0f;
  --color-gray-600: #9f9f9f;
  --color-gray-500: #161616;
  --color-gray-400: #5a5a5a;
  --color-gray-300: #a4a4a4;
  --color-gray-200: #dddddd;
  --color-gray-100: #eeeeee;
  --color-my-red: #ff483d;
  --color-my-blue: #29c9f9;
  --color-primary-blue: #04b8ff;
  --color-my-purple: #a77eff;
  --color-my-pink: #ff2a6a;
  --color-main: #efff04;
}

body {
  background: var(--color-my-black);
  color: #ffffff;
  font-family: "noto", "Baskin", serif;
}

* a,
* button {
  cursor: pointer;
}

/* 모달 슬라이드 애니메이션 */
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}


@utility flex-row-center {
  display : flex;
  flex-direction : row;
  align-items: center;
}

@utility flex-col {
  display : flex;
  flex-direction : column;
}

@utility flex-between-center {
  display: flex;
  justify-content : space-between;
  align-items: center;
}

.test {
  display: flex;
  align-items: center;
  justify-content : space-between;  
}

@utility animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}

@utility animate-slide-down {
  animation: slide-down 0.3s ease-in forwards;
}

@utility title-62 {
  font: 700 3.875rem "baskin", serif;
  letter-spacing: -0.03rem;
}

@utility title-48 {
  font: 700 3rem "baskin", serif;
  letter-spacing: -0.03rem;
}

@utility title-46 {
  font: 700 2.875rem "baskin", serif;
  letter-spacing: -0.03rem;
}

@utility title-46-1 {
  font: 400 2.875rem "baskin", serif;
  letter-spacing: -0.03rem;
}

@utility title-40 {
  font: 700 2.5rem "baskin", serif;
  letter-spacing: -0.03rem;
}

@utility title-40-1 {
  font: 400 2.5rem "baskin", serif;
  letter-spacing: -0.03rem;
}

@utility title-36 {
  font: 700 2.25rem "baskin", serif;
  letter-spacing: -0.03rem;
}

@utility title-30 {
  font: 700 1.875rem "baskin", serif;
  letter-spacing: -0.03rem;
}

@utility title-28 {
  font: 700 1.75rem "baskin", serif;
  letter-spacing: -0.03rem;
}

@utility title-24 {
  font: 700 1.5rem "baskin", serif;
  letter-spacing: -0.03rem;
}

@utility title-20 {
  font: 700 1.25rem "baskin", serif;
  letter-spacing: -0.03rem;
}

@utility title-18 {
  font: 700 1.125rem "baskin", serif;
  letter-spacing: -0.03rem;
}

@utility title-16 {
  font: 400 1rem "baskin", serif;
  letter-spacing: -0.03rem;
}

@utility title-14 {
  font: 400 0.8755rem "baskin", serif;
  letter-spacing: -0.03rem;
}

@utility text-700-40 {
  font: 700 2.5rem "noto", serif;
}

@utility text-700-32 {
  font: 700 2rem "noto", serif;
}

@utility text-700-28 {
  font: 700 1.75rem "noto", serif;
}

@utility text-700-24 {
  font: 700 1.5rem "noto", serif;
}

@utility text-400-24 {
  font: 400 1.5rem "noto", serif;
}

@utility text-700-22 {
  font: 700 1.375rem "noto", serif;
}

@utility text-700-20 {
  font: 700 1.25rem "noto", serif;
}

@utility text-400-20 {
  font: 400 1.25rem "noto", serif;
}

@utility text-700-18 {
  font: 700 1.125rem "noto", serif;
}

@utility text-400-18 {
  font: 400 1.125rem "noto", serif;
}

@utility text-300-18 {
  font: 300 1.125rem "noto", serif;
}

@utility text-700-16 {
  font: 700 1rem "noto", serif;
}

@utility text-400-16 {
  font: 400 1rem "noto", serif;
}

@utility text-300-16 {
  font: 300 1rem "noto", serif;
}

@utility text-700-14 {
  font: 700 0.875rem "noto", serif;
}

@utility text-400-14 {
  font: 400 0.875rem "noto", serif;
}

@utility text-300-14 {
  font: 300 0.875rem "noto", serif;
}

@utility text-700-12 {
  font: 700 0.75rem "noto", serif;
}

@utility text-400-12 {
  font: 400 0.75rem "noto", serif;
}

@utility text-300-12 {
  font: 300 0.75rem "noto", serif;
}

@utility text-400-10 {
  font: 400 0.625rem "noto", serif;
}

@utility text-300-10 {
  font: 300 0.625rem "noto", serif;
}
